body {
    position: relative;
    background: #deffd2;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #abda85;
    margin-top: 3em;
    margin-bottom: 2em;
    padding: 0;
}

.icon-bar {
    background-color: #1b3249;
}

.divider {
    margin-left: 100px;
    margin-right: 100px;
}

.ftr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    background: greenyellow;
    overflow: hidden;
}

a {
    color: green;
}

a:hover {
    color: #00ae00;
}

a:focus {
    color: #004c00;
}

h1, h2, h3, h4, h5, h6 {
    color: #2b542c !important;
}

p, .lead {
    line-height: 200%;
}

p {
    font-size: medium;
}

.img-body {
    max-width: 18em;
}

button {
    text-transform: initial !important;
}

.navbar-icons {
    margin-bottom:-10px
}